<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>choice</title>
</head>
<body>
    hy{{user.first_name}}
    <button><a href="javaquiz">java</a></button>
    <button><a href="login">c</a></button>
    <button><a href="cppquiz">c++</a></button>
    <button><a href="login">python</a></button>
    <button><a href="register">javascript</a></button>
    <button><a href="login">Django</a></button>
</body>
</html>